{
    "project_id": null,
    "src_img_family": null,
    "machine_type": "f1-micro",
    "img_descr": "Sample description",
    "dsk_size": "5",
    "dsk_type": "pd-standard",
    "tags": "Sample tag",
    "network": "default"
}
